In [ ]:
# Write a Python function to sum all the numbers in a list.
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
numbers=[8,2,3,0,7]
print(sum(numbers))

20

In [ ]:
"""Python program to insert a number to any position in a list (Get the number
to be inserted and position from the user)"""
l1=['Apple',"Banana",'Orange']
n=input("Enter the fruit name:")
e=int(input("Enter the position to add:"))
l1.insert(e,n)
print(l1)

Enter the fruit name:guava
Enter the position to add:3
['Apple', 'Banana', 'Orange', 'guava']

In [ ]:
#Write a program to rename a key city to a location in the following dictionary.
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict['location']=sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
#Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.
sample={'emp1': {'name': 'Jhon', 'salary': 10000},
'emp2': {'name': 'Emma', 'salary': 9000},
'emp3': {'name': 'Brad', 'salary': 7000}}
for i in sample.values():
  if i['name']=='Brad':
    i['salary']=8500
print(sample)

{'emp1': {'name': 'Jhon', 'salary': 10000}, 'emp2': {'name': 'Emma', 'salary': 9000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [ ]:
# Write a program to copy elements 44 and 55 from the following tuple into a new tuple.
t1=(11,11, 22, 33, 44, 55, 66)
t2=t1[4:7]
print(t2)

(44, 55, 66)

In [ ]:
#Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
tuple1.count(50)

3